/*========variables=========*/

:root {
    /* colors */

    --main-color:       rgb(53, 228, 158);
    --font-color-dark:  rgb(59, 59, 59);
    --font-color-light: rgb(200, 200, 200);

    /*==========*/

    /* fonts */

    --title-font:       'Alfa Slab One', cursive;
    --main-font:        'Gentium Book Basic', serif;

    /*============*/
}

/*==========================*/

* {
    box-sizing:         border-box;
}

html {
    color:              var(--font-color);
    font-family:        var(--main-font);
}

.container {
    display:            grid;
    grid-template-columns: .4fr 2fr;
    grid-template-areas: 
                        "header header"
                        "navigation navigation"
                        "sidebar main"
                        "footer footer";
}

/*=============HEADER==============*/

.header-wrapper {
    grid-area:          header;
    background-image:   url("../assets/index-cover-photo.jpg");
    background-repeat:  no-repeat;
    background-size:    cover;
    filter:             grayscale(100%);
    height:             100vh;
    color:              var(--font-color-light);
}

    .text-wrapper {
        height:         100%;
        display:        flex;
        justify-content:center;
        align-items:    center;
        flex-direction: column;
    }

        .text-wrapper li {
            display:        inline-block;
        }

        .text-wrapper h1 {
            font-family:    var(--title-font);
            font-size:      6.25rem;
        }

        .text-wrapper h2 {
            font-size:      1.875rem;
            margin:         1.28rem 0 2.5rem;
        }

        .text-wrapper a {
            text-decoration: none;
            color:          var(--font-color-light);
            font-family:    var(--main-font);
            font-size:      1.28rem;
            margin:         0 6.25rem;
        }

        .text-wrapper a:hover {
            text-decoration: underline;
            color: var(--main-color);
        }


/*==================================*/

/*===========NAV====================*/

.navigation-wrapper {
    grid-area:          navigation;
    display:            flex;
    flex-direction:     column;
    background-color:   var(--main-color);
    text-transform:     uppercase;
}
    .navbar {
        width:          60%;
        padding:        1.25rem 0;
        margin:         0 auto;
    }

    .logo {
        float:          left;
    }

    .navbar li {
        float:          right;
        margin:         0 1.25rem; 
    }

    .menu-list {
        height: 100%;
    }

        .menu-list a, .navigation-wrapper a {
            color:          var(--font-color-dark);
            text-decoration: none;
            font-size:      1.375rem;
            transition: color .5s ease-in-out;
        }

        

        .menu-list li:hover {
            text-decoration: underline;
            
        }

        .menu-list a:hover {
            color: black;
            
        }

/*===================================*/

/*============SIDEBAR================*/

.sidebar-wrapper {
    grid-area:          sidebar;
    background-color:   var(--main-color);
    text-transform:     uppercase;
}

.sidebar-container {
    margin:             0 3.125rem;
}

    .sidebar-container h2 {
        font-size:      1.375rem;
        border-bottom:  1px solid black;
        margin-bottom:  .9375rem;
    }

.sidebar-list a {
    font-size:          1.25rem;
    text-decoration:    none;
    color:              var(--font-color-dark);
}

.sidebar-list li {
    padding:            .3125rem;
}

.sidebar-list li:hover {
    color:              black;
    border-bottom:      1px solid black;
}

/*===================================*/

/*===========MAIN=====================*/

.main-wrapper {
    grid-area:          main;
}

    .blog-post {
        width:          70%;
        margin:         3.125rem auto;
        line-height:    1.5;
    }

    .blog-post::after {
        content:        "";
        display:        block;
        background-color: black;
        height:         1px;
        width:          100%;
        margin:         3.125rem 0;
    }

    .blog-post h2 {
        font-family:    var(--title-font);
        font-size:      3.75rem;
        margin-bottom:  1.875rem;
    }

    .blog-post p {
        font-size:      1.375rem;
        text-align:     justify;
    }

.cash {
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
}

    .cash-box {
        display:            flex;
        width:              30%;
        flex-direction:     column;
        margin:             .625rem;
        padding:            1.25rem;
        border:             1px solid black;
        border-radius:      5px;
        font-size:          1.25rem;
        background-color:   var(--main-color);
        transition: transform .5s;
    }

    .cash-box:hover {
        transform: scale(1.1);
        
    }

    .cash-box h2 {
        text-transform:     uppercase;
        text-align:         center;
        font-size:          1.875rem;
        font-family:        var(--title-font);
    }

    .cash-box h2, .price {
        margin-bottom:      1.875rem;
    }

    .description {
        text-align:         justify;
    }

    .price {
        text-align:         center;
        font-size:          2.5rem;
    }
    
/*=======================================*/

/*===========FOOTER=====================*/

.footer-wrapper {
    grid-area:              footer;
    padding:                30px 0;
    background-color:       rgb(30, 30, 30);
    color:                  var(--font-color-light);
}

    .media-links {
        display:             flex;
        flex-direction:      row;
        justify-content:     center;
        
    }

    .media-links a {
        margin:             0 30px;
        text-decoration:    none;
        color:              var(--font-color-light);
    }

    .copyright {
        text-align: center;
        margin-top: 40px;
    }

/*=======================================*/