/*========variables=========*/

:root {
    /* colors */

    --main-color:       rgb(53, 228, 158);
    --font-color-dark:  rgb(59, 59, 59);
    --font-color-light: rgb(200, 200, 200);

    /*==========*/

    /* fonts */

    --title-font:       'Alfa Slab One', cursive;
    --main-font:        'Gentium Book Basic', serif;

    /*============*/
}

/*==========================*/

* {
    box-sizing: border-box;
}

html {
    color:              var(--font-color);
}