/*========VARIABLES============*/

:root {
    
    /* COLORS */
    --purple-header:            hsla(265, 100%, 46%, 1);
    --grey-background:          hsla(270, 9%, 96%, 1);
    --white-background:         hsla(0, 0%, 100%, 1);
    --dark-purble-background:   hsla(265, 53%, 14%, 1);

    --grey-date-font: hsla(266, 9%, 70%, 1);
    --black-font:     hsla(265, 53%, 14%, 1);

    /* FONTS */
    --nav-font:                 normal normal bold 12px/15px 'Montserrat';
    --title-font:               normal normal bold 40px/50px 'Montserrat';
    --article-font:             normal normal normal 20px/30px 'Montserrat';
    --mini-article-title-font:  normal normal bold 12px/15px 'Montserrat';
    --mini-article-font:        normal normal normal 14px/20px 'Montserrat';

}

/*=================================*/


/*============BASE===============*/

* {
    box-sizing: border-box;
    color:      black;
}

html { color: var(--black-font); }
body { background-color: var(--grey-background); }

h1 { font: var(--title-font); }
h2 { font: var(--mini-article-title-font); }

a {
    text-decoration:    none;
    cursor:             pointer;
}

.container {
    display:                grid;
    grid-template-columns:  1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

    header { background-color: var(--purple-header); grid-area:header; }
    nav { background-color: var(--white-background); grid-area: nav; }
    main { background-color: var(--grey-background); grid-area: main; }
    footer { background-color: var(--dark-purble-background); grid-area: footer; }

/*===================================*/

/*==========HEADER==================*/

header {
    height: 7vh;
}
    
    .header-wrapper {
        height: 100%;
    }

        .header-content {
            display:        flex;
            flex-direction: row;
            height:         100%;
            align-items:    center;
        }

        .sub-btn,
        .logo {   
            float:          left;
            margin-left:    18%;
        }

        .sub-btn {
            font:               var(--mini-article-title-font);
            color:              var(--purple-header);
            text-transform:     uppercase;
            background-color:   white;
            letter-spacing:     2.4px;
            padding:            10px 30px;
            border:             1px solid white;
            border-radius:      24px;
        }

/*=====================================*/

/*==============NAV======================*/

nav {
    height: 7vh;
}

    .nav-content {
        width:  55%;
        height: 100%;
        margin: 0 auto;
    }

        .nav-content ul {
            height:             100%;
            display:            flex;
            flex-direction:     row;
            flex-wrap:          wrap;
            justify-content:    space-between;
            align-items:        center;
        }

        .nav-content a {
            font:           var(--mini-article-title-font);
            color:          var(--black-font);
            text-transform: uppercase;
            padding:        22px 0;
        }

        .nav-content a:hover {
            color:          var(--purple-header);
            border-bottom:  3px solid hsla(265, 100%, 46%, 1);
        }

/*=========================================*/

/*=================ARTICLE===================*/

.main {
    background-color: var(--grey-background);
    height: 100vh;
    width: 100vw;
}

    .post-wrapper {
        width: 64%;
        margin: 0 auto;
    }

    .posts {
        float: left;
        width: 66%;
        margin-right: 20px;
    }

    .featured-blogpost {
        background: url("assets/roberto-nickson-5ui0tfMC5ts-unsplash.jpg");
        background-size: cover;
        border-radius: 15px;
        padding: 60px;
    }

        .date {
            font: var(--nav-font);
            letter-spacing: 2.4px;
            text-transform: uppercase;
        }
        
        .post-content {
            font: var(--article-font);
        }

        .read-more-btn {
            display: inline-block;
            text-transform: uppercase;
            font: var(--nav-font);
            letter-spacing: 2.4px;
            border-radius: 24px;
            padding: 10px 40px;
            margin-top: 20px;
        }

        .btn-secondary {
            border: 2px solid white;
        }

        .date,
        .blog-title,
        .post-content {
            margin-bottom: 15px;
        }

    .featured-blogpost a, h1, p {
        color: white;
    }

    .side-menu {
        float: right;
        width: 32%;
    }