/*========VARIABLES============*/

:root {
    
    /* COLORS */
    --purple-header:            hsla(265, 100%, 46%, 1);
    --grey-background:          hsla(270, 9%, 96%, 1);
    --white-background:         hsla(0, 0%, 100%, 1);
    --dark-purble-background:   hsla(265, 53%, 14%, 1);

    --grey-date-font: hsla(266, 9%, 70%, 1);
    --black-font:     hsla(265, 53%, 14%, 1);

    /* FONTS */
    --nav-font:                 normal normal bold 12px/15px 'Montserrat';
    --title-font:               normal normal bold 40px/50px 'Montserrat';
    --article-font:             normal normal normal 20px/30px 'Montserrat';
    --mini-article-title-font:  normal normal bold 12px/15px 'Montserrat';
    --mini-article-font:        normal normal normal 14px/20px 'Montserrat';

}

/*=================================*/


/*============BASE===============*/

* {
    box-sizing: border-box;
    color:      black;
}

html { color: var(--black-font); }
body { background-color: var(--grey-background); }

h1 { font: var(--title-font); }
h2, h3 { font: var(--mini-article-title-font); }

a {
    text-decoration:    none;
    cursor:             pointer;
}

.container {
    display:                grid;
    grid-template-columns:  1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

    header { background-color: var(--purple-header); grid-area:header; }
    nav { background-color: var(--white-background); grid-area: nav; }
    main { background-color: var(--grey-background); grid-area: main; }
    footer { background-color: var(--dark-purble-background); grid-area: footer; }

/*===================================*/

/*==========HEADER==================*/

header {
    height: 7vh;
}
    
    .header-wrapper {
        height: 100%;
    }

        .header-content {
            display:        flex;
            flex-direction: row;
            height:         100%;
            align-items:    center;
        }

        .sub-btn,
        .logo {   
            float:          left;
            margin-left:    18%;
        }

        .sub-btn {
            font:               var(--mini-article-title-font);
            color:              var(--purple-header);
            text-transform:     uppercase;
            background-color:   white;
            letter-spacing:     0.15rem;
            padding:            0.625rem 1.875rem;
            border:             0.0625rem solid white;
            border-radius:      1.5rem;
        }

/*=====================================*/

/*==============NAV======================*/

nav {
    height: 7vh;
}

    .nav-content {
        width:  55%;
        height: 100%;
        margin: 0 auto;
    }

        .nav-content ul {
            height:             100%;
            display:            flex;
            flex-direction:     row;
            flex-wrap:          wrap;
            justify-content:    space-between;
            align-items:        center;
        }

        .nav-content a {
            font:           var(--mini-article-title-font);
            color:          var(--black-font);
            text-transform: uppercase;
            padding:        1.375rem 0;
        }

        .nav-content a:hover {
            color:          var(--purple-header);
            border-bottom:  0.1875rem solid hsla(265, 100%, 46%, 1);
        }

/*=========================================*/

/*=================ARTICLE===================*/

.main {
    background-color:   var(--grey-background);
}

    .post-wrapper {
        width:      64%;
        margin:     0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .posts {
        /*float:          left;*/
        width:          66%;
        margin-right:   1.25rem;
    }

    .featured-blogpost {
        background:         url("assets/roberto-nickson-5ui0tfMC5ts-unsplash.jpg");
        background-size:    cover;
        border-radius:      0.9375rem;
        padding:            3.75rem;
    }

        .date {
            font:           var(--nav-font);
            letter-spacing: 0.15rem;
            text-transform: uppercase;
        }
        
        .post-content {
            font:           var(--article-font);
        }

        .read-more-btn {
            display:        inline-block;
            text-transform: uppercase;
            font:           var(--nav-font);
            letter-spacing: 0.15rem;
            border-radius:  1.5rem;
            padding:        0.625rem 2.5rem;
            margin-top:     1.25rem;
        }

        .btn-secondary {
            border: 0.125rem solid white;
        }

        .date,
        .title,
        .post-content {
            margin-bottom: 0.9375rem;
        }

    .featured-blogpost a, h1, p {
        color: white;
    }

/* KÁRTYÁK */

    .main-little-cards {
        display:        flex;
        flex-direction: row;
        gap: 1.25rem;
    }

    .card-wrapper {
        background-color: white;
        border-radius: 0.9375rem;
        padding: 1.25rem;
    }

    .row-flex-cards {
        display: flex;
        flex-direction: row;
    }

    .mini-card-img {
        border-radius: 0.625rem;
        height: 7.5rem;
        width: 7.5rem;
        background-size: cover;
        margin-right: 1.25rem;
        object-fit: cover;
    }

    .business {
        margin-right: 1.25rem;
    }

    .card-title {
        text-transform: uppercase;
        color: var(--purple-header);
        margin-bottom: 0.9375rem;
        font-weight: bolder;
    }

    .card-text {
        color:  var(--black-font);
        font:   var(--mini-article-font);
        font-weight: bold;
    }

/*============*/

    .blog-post-wrapper {
        background-color: var(--white-background);
        border-radius: 0.9375rem;
    }

        .space {
            padding: 3.75rem;
        }

        .blog-content-wrapper {
            padding: 3.75rem;
        }

        .blog-date {
            font: var(--mini-article-title-font);
            color: var(--grey-date-font);
            letter-spacing: 0.15rem;;
        }

        .blog-title {
            font: var(--title-font);
            font-weight: bold;
        }

        .blog-content {
            color: var(--black-font);
            font: var(--article-font);
        }

        .colored-btn {
            border: 0.125rem solid hsla(265, 100%, 46%, 1);
            color: var(--purple-header);
        }

        .vertical-space {
            margin: 0.625rem 0;
        }

        .blog-img {
            width: 100%;
            height: 25rem;
            border-radius: 0.9375rem 0.9375rem 0 0;
        }

        .blog-post-vertical-space {
            margin: 1.875rem 0;
        }


    .side-menu {
        /*float: right;*/
        width: 32%;
    }

    .side-menu-wrapper {
        padding-top: 30px;
    }

        .side-title {
            font: var(--mini-article-title-font);
            color: white;
            background-color: var(--purple-header);
            height: 3rem;
            text-align: center;
            padding-top: 0.9375rem;
            border-radius: 0.9375rem 0.9375rem 0 0;
            text-transform: uppercase;
        }

        .side-blog-samples {
            background-color: white;
        }

        .side-blog-samples {
            border-radius: 0 0 0.9375rem 0.9375rem;
        }

        .more-news {
            border-top: 1px solid hsla(270, 9%, 96%, 1);
            text-align: center;
            color: hsla(266, 9%, 70%, 1);
            font: var(--mini-article-title-font);
            padding: 0.9375rem;
            text-transform: uppercase
            
        }

        .categorie-item {
            text-transform: uppercase;
            font: var(--mini-article-title-font);
            color: hsla(265, 53%, 14%, 1);
            text-align: left;
            letter-spacing: 0.15rem;
            padding: 0.9375rem 1.875rem;
            border-bottom: 1px solid hsla(270, 9%, 96%, 1);
        }

.footer-wrapper {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--mini-article-title-font);
    color:hsla(266, 9%, 70%, 1);
    letter-spacing: 2.4px;
}

    .footer-wrapper a {
        color: var(--purple-header);
    }
    

