/*=========VARIABLES=======================*/

:root {
    --light-purple:             hsla(265, 100%, 46%, 1);
    --dark-purple:              hsla(265, 53%, 14%, 1);
    --light-grey-background:    hsla(270, 9%, 96%, 1);
    --light-grey-font:          hsla(265, 53%, 14%, 1);
    --footer-light-font:        hsla(266, 9%, 70%, 1);
}

/*==========================================*/

/*===========GLOBAL=========================*/

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color:   var(--light-grey-background);
}

/*===========================================*/

/*==============NAV==========================*/

.navigation {
    display:            flex;
    align-items:        center;
    width:              100vw;
    height:             9vh;
    background-color:   var(--light-purple);
}

    .nav-container {
        width:              65%;
        height:             100%;
        margin:             0 auto;
        display:            flex;
        flex-direction:     row;
        flex-wrap:          nowrap;
        justify-content:    space-between;
    }
        
        .nav-container a {
            display: inline-block;
        }

        .menu {
            display:        flex;
            flex-direction: row;
            align-items:    center;
            gap:            3.125rem;
            
        }

        .menu li {
            height: 100%;
            
        }

        .menu a {
            display:            flex;
            align-items:        center;
            color:              var(--light-grey-background);
            font-family:        'Montserrat', sans-serif;
            font-weight:        bold;
            font-size:          0.75rem;
            text-transform:     uppercase;
            text-decoration:    none;
            letter-spacing:     0.1875rem;
            height:             100%;
        }

        .menu a:hover {
            color:              white;
            border-bottom:      3px solid white;
        }

/*===============================================*/

/*===============MAIN============================*/

.article {
    width:              65%;
    height:             81vh;
    margin:             0 auto;
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    align-items:        center;
    gap:                1.875rem;
}

    .article-inside {
        background-color:   white;
        width:              100%;
        border-radius:      0.9375rem;
        padding:            3.75rem;
    }

    .article-inside img {
        border-radius: 0.9375rem;
    }

        .purple {
            color:              var(--light-purple);
            text-transform:     uppercase;
            letter-spacing:     0.15rem;
            font-size:          0.75rem;
            font-weight:        bolder;
        }

        .address {
            margin-top: 1.875rem;
        }

        .left-article p {
            font-size:      0.875rem;
            margin:         0.625rem 0rem 1.875rem;
            line-height:    1.25rem;
        }

        .telephone { margin-bottom: 0.625rem; }

        .email { margin-bottom: 1.875rem; }

        .img { border-radius: 0.9375rem; }

        .title {
            font-size:      2.5rem;
            font-weight:    bold;
        }

        .contact-us {
            font-size:      1.25rem;
            line-height:    1.5;
            margin:         0.625rem 0;
        }

        .input-type {
            background-color:   var(--light-grey-background);
            border:             none;
            color:              hsla(266, 9%, 70%, 1);
            width:              26.25rem;
            margin-bottom:      0.9375rem;
            padding-left:       1.5rem;
            font-weight:        bold;
        }
        
        .input-name {
            border-bottom: 3px solid hsla(265, 100%, 46%, 1);
        }

        .input-name, .input-email { height: 3.125rem; }

        .input-text { 
            height:         9.375rem;
            position:       relative;
        }

        .input-type:focus { outline: none; }

        .submit-btn {
            display:            block;
            text-transform:     uppercase;
            width:              26.25rem;
            height:             3.125rem;
            background-color:   var(--light-purple);
            color:              white;
            letter-spacing:     0.15rem;
            font-size:          0.75rem;
            font-weight:        bold;
            border:             none;
            border-radius: 1.5rem;
        }

        .icon {
            color: white;
            background-color: var(--light-purple);
            border-radius: 9999px;
            padding: 10px;
        }


.footer {
    height:             10vh;
    width:              100%;
    background-color:   var(--dark-purple);
    display:            flex;
    flex-direction:     row;
    flex-wrap:          nowrap;
    justify-content:    center;
    align-items:        center;
    font-family:        'Montserrat', sans-serif;
    font-size:          0.75rem;
    letter-spacing:     0.15rem;
    font-weight:        bold;
    text-transform:     uppercase;
    
}

    .footer-purple { color: var(--light-purple); }

    .footer-grey { color: hsla(266, 9%, 70%, 1); }