/*==============VARIABLES==================*/

:root {

    /*COLORS*/

    --light-grey: hsla(270, 9%, 96%, 1);
    --dark-grey: hsla(266, 9%, 70%, 1);
    --light-purple: hsla(265, 100%, 46%, 1);

    /*FONTS*/

    --main-font: 'Montserrat', sans-serif;

}

/*=========================================*/

* {
    box-sizing: border-box;
}

.main-wrapper {
    height:         100vh;
    width:          100vw;
    display:        flex;
    flex-wrap:      nowrap;
    flex-direction: row;
}

/*==================LEFT SIDE===================*/

.left-container {
    width:      20%;
    height:     100%;
    font-family: var(--main-font);
}

    .search-bar {
        background-color: var(--light-grey);
        border: none;
        height: 50px;
        width: 350px;
        margin: 15px 0;
        padding: 24px;
        font-weight: bold;
        font-size: 14px;
        color: var(--dark-grey);
    }

    .user-avatar {
        width: 50px;
        border-radius: 9999px;

    }



/*===============================================*/

/*==================RIGHT SIDE====================*/

.right-container {
    width:              80%;
    height:             100%;
    background-color:   var(--light-grey);
}