/*==============VARIABLES==================*/

:root {

    /*COLORS*/

    --light-grey: hsla(270, 9%, 96%, 1);
    --dark-grey: hsla(266, 9%, 70%, 1);
    --light-purple: hsla(265, 100%, 46%, 1);

    /*FONTS*/

    --main-font: 'Montserrat', sans-serif;

}

/*=========================================*/

* {
    box-sizing: border-box;
}

.main-wrapper {
    height:         100vh;
    width:          100vw;
    display:        flex;
    flex-wrap:      nowrap;
    flex-direction: row;
}

/*==================LEFT SIDE===================*/

.left-container {
    width:          21%;
    height:         100%;
    font-family:    var(--main-font);
    display:        flex;
    flex-direction: column;
}

    .sidebar-header {
        width:      25rem;
        height:     5rem;
        display:    flex;
    }

    .search-bar {
        height:             3.125rem;
        width:              23.125rem;
        background-color:   var(--light-grey);
        margin:             auto;
    }

    .submit-btn {
        border: none;
        cursor: pointer;
        color:  var(--dark-grey);
    }

        .search-bar-real:focus { border-bottom-color: #6200ea; }

    .search-bar-real {
        width:              90%;
        height:             100%;
        background-color:   var(--light-grey);
        border:             none;
        padding-left:       1.5rem; 
    }

        .search-bar-real::placeholder {
            font-size:      0.75rem;
            font-weight:    bold;
            color:          var(--dark-grey);
        }


    /*===============CONTACT LIST===================*/
    
    .contact-list-all {
        display:            flex;
        flex-direction:     column;
        justify-content:    center;
    }

        .contact-list-all a { text-decoration: none; }

        .contact-list-all a:focus { border-left: 5px solid var(--light-purple); }

        .contact-list-item {
            height:         5rem;
            width:          25rem;
            display:        flex;
            flex-direction: row;
            flex-wrap:      nowrap;
            align-items:    center;
            padding:        0.9375rem;
            border-top:     1px solid var(--light-grey);
            border-bottom:  1px solid var(--light-grey);
        }

            .user-avatar {
                width:          3.125rem;
                height:         3.125rem;
                object-fit:     cover;
                border-radius:  50%;
            }

            .contact-name {
                font-size:      0.75rem;
                letter-spacing: 0.15rem;
                color:          var(--light-purple);
                text-transform: uppercase;
                font-weight:    bold;
                padding-left:   0.9375rem;
            }

            .contact-text {
                font-size:  0.75rem;
                color:      black;
                padding:    0.3125rem 0 0 0.9375rem;
            }

    .add-new-btn {
        height:             3.125rem;
        width:              23.125rem;
        background-color:   white;
        border:             2px solid var(--light-purple);
        border-radius:      1.5rem;
        text-transform:     uppercase;
        font-size:          0.75rem;
        letter-spacing:     0.1531rem;
        font-weight:        bold;
        color:              var(--light-purple);
        margin:             0.9375rem;
    }

    .add-new-btn a {
        display:            flex;
        justify-content:    center;
        align-items:        center;
        height:             100%;
        width:              100%;
        text-decoration:    none;
        text-align:         center;
        color:              var(--light-purple);
    }



/*===============================================*/

/*==================RIGHT SIDE====================*/

.right-container {
    width:              79%;
    height:             85%;
    background-color:   var(--light-grey);
    font-family:        var(--main-font);
    color:              white;
}

    .header {
        height:             8.1716vh;
        width:              100%;
        display:            flex;
        flex-direction:     row;
        flex-wrap:          nowrap;
        justify-content:    space-between;
        align-items:        center;
        background-color:   var(--light-purple);
        padding:            0rem 1.875rem;
    }

        .my-profile {
            display:            flex;
            flex-direction:     row;
            align-items:        center;
        }

        .partner-name {
            font-weight:        bold;
            font-size:          1.25rem;
        }

        .my-name {
            font-size:          0.75rem;
            letter-spacing:     0.15rem;
            margin-right:       1.25rem;
            text-transform:     uppercase;
            font-weight:        bold;
        }

        .message-area-container { margin: 2.5rem 3.75rem 4.0625rem 3.75rem; }

            .black-font { color: black; }

            .time-stamp {
                color:              var(--dark-grey);
                font-size:          12px;
                letter-spacing:     2.4px;
                text-transform:     uppercase;
                font-weight:        bold;
            }

            .time-stamp-left-space { 
                margin-left: 60px;
                margin-bottom: 5px;
            }

            .user-avatar-chat {
                float:          left;
                margin-right:   10px;
            }

            .partner-text {
                max-width:        37.5vw;
                padding:          2.2222vh 1.25vw;
                border-radius:    0 15px 15px 15px;
                margin:           0 0 1.1111vh 3.75vw;
                background-color: #ffffff;
                line-height:      2.2222vh;
                font-size:        14px;
            }
    

    .message-type-area {
        
    }